body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
 
}
a{
  text-decoration: none;
  color: #982df4;
  font-size: larger;
}
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  /* background-image: linear-gradient(360deg, #0f3b48, transparent); */
  position: sticky;
  top: 0%;
  z-index: 1;
  border: 1px sold black;
  /* border: 2px solid; */
  box-shadow: 6px 4px 18px 1px;
}
  .navdiv{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.navsecond{
  display: none;
}
nav > div > a{
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.Startingdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
/*   background-image: linear-gradient(365deg, #0b0707, #23111100); */
  /* border: 1px dotted; */
  box-shadow: 0px 8px 9px 0px;

}


.Startingdiv > div{
  box-shadow: 2px 2px 7px 3px #2c2929;
    width: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #0e7da1;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: .4s;
}
.Startingdiv > div:hover{
    
   transform: scale(1.05);
}
.seconddiv{
  box-shadow: 2px 2px 7px 3px #2c2929;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: bisque;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: .4s;
}
.seconddiv:hover{
    
   transform: scale(1.05);
}
 .productlist > div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 2rem;

 }
 .productlist > div > button{
  border-radius: 0.5rem;
  width: 100px;
  height: 30px;
  color: black;
  font-family: monospace;
  margin: 10px;
transition: .3s;

 }
 .productlist > div > button:hover{
  
  transform: scale(1.1);
  background-image: linear-gradient(190deg, #089cbd,#9716a4,#0d7969, #bbafaf00);
  box-shadow: 5px 6px 8px 0px #797575;
  color: white;
 }
 .Startingdiv > div > button{
  border-radius: 0.5rem;
  width: 100px;
  height: 30px;
  color: black;
  font-family: monospace;
  margin: 10px;
transition: .3s;

 }
 .Startingdiv > div > button:hover{
  
  transform: scale(1.1);
  background-image: linear-gradient(190deg, #089cbd,#9716a4,#0d7969, #bbafaf00);
  box-shadow: 5px 6px 8px 0px #797575;
  color: white;
 }
 .productlist{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
 }
 .productlist > img{
  width: 45%;
  padding: 1rem;
  transition: .3s;
 }
 .productlist > img:hover{
   transform: scale(1.01);
 }
 .footerfirst{
   display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  /* position: fixed; */
  bottom: 0;
  /* width: 100%; */
  /* background-image: linear-gradient(187deg, #3a4849,#48484e,#7d7575,#555556, #3d101000); */
  /* background-image: linear-gradient(209deg, #9c0d51,#da0d0d55); */
  box-shadow: -3px -7px 13px 5px #343333;
  /* margin-top: 10rem; */
  border-radius: 6px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 7px 7px 14px #666666, -7px -7px 14px #ffffff;
  margin-top: 1rem;
 }
 .footerfirst>div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  padding: 2rem;
 }
 .footerfirst>div>div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

 }
 .footerfirst>div>div a{
   /* transform: rotate(360deg); */
 
 animation: imgUp 1s linear infinite alternate;
 

 }
 .footerfirst>div>div a {
   /* transform: rotate(360deg); */
 
 transition:all 1s;
 

 }
 @keyframes imgUp {
    to{
      transform: translateY(-20px);
    }
 }
 .footerfirst>div>div a:hover{
   /* transform: rotate(360deg); */
   /* transform: scale(1.5)  ; */
   color: rgb(9, 3, 46);

 }
 .cartfirst{
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
/*   background: gray; */
 }
 .cartfirst > main{
  padding: 2rem;
  overflow-y: auto;
  
 }
 ::-webkit-scrollbar{
  display: none;
 }   
 .cartfirst > aside{
 /* width: 100%; */
    /* background-image: linear-gradient(45deg, #9f9b9b, transparent 100px); */
    /* background-image: linear-gradient(326deg, #181616,#cbc2c2,#0b0707,#918484, transparent); */
    padding: 2rem;
    /* background: #474646; */
    box-shadow: -2px 0px 9px -2px black;
    border-radius: 1rem;
    border-radius: 6px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 7px 7px 14px #666666, -7px -7px 18px #ffffff;
 }
 .cartItem{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  align-items: center;
  padding: 2rem;
  margin: 2rem 0;
  background: #d8d8d8;
  border: 1rem;
  /* border: 1px solid; */
  border-radius: 2rem;
  box-shadow: 2px 7px 20px 4px black;
 }
 .cartItem img{
  width: 100%;
   
 }
 .cartItem   div{
  display: flex;
  justify-content:space-around;
  align-items: center;
  align-content: center;

 }
 .cartItem   div button{
 border: none;
 background: transparent;
  transition: .3s;
 }
 .cartItem   div button:hover{
  transform: scale(2);

 }
 .cartItem   article{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

 }
 @media screen and (max-width:850px) {
    .cartfirst{
      grid: none;
    }
    .cartfirst main{
      padding: 0;
    }
    .cartItem{
      padding-left: 6px;
      padding-right: 6px;
    }
    .navdiv{
      flex-direction: column;
      display: none;
    }
    .navsecond{
      display: block;
    }
    .MENUHEADER{
  
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-Items: center;
    
  }
  .navdiv{
    width: 100%;
    
  }
 }
 @media screen and (max-width:500px) {
  .cartItem   div button{
    border: none;
    background: transparent;
    transform: scale(.8);
     transition: .3s;
    }
  .cartItem   div h4{
    font-size: x-small;
    }
    .cartItem article h1{
      font-size: medium;
    }
    .footerfirst>div{
      padding: 1rem;
    }
    .productlist{
      flex-direction: column;
    }
 }
 .loginWrapper{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
   height:70vh;

 }
 
.loginWrapper1>div>button{
  background: #d1d1d1;
  font-size: larger;
  width: 100px;
  height: 30px;
  border-radius: 15px;
}
